*{
    margin: $pd5;
    padding: $pd5;
}
main{
    padding: $pd2;
}
section{
    margin: $pd2;
    padding: $pd;
}
footer ul{
    margin: $pd3;
}
.formulario{
    padding: $pd4;
    width: $pd6;
    margin-top: $pd4;
    margin-left: $pd4;
    margin-bottom: $pd4;
}
h3{
    margin: $pd2;
    padding: $pd3;
}